@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/ylee-polymnia-framed');
.container {
  width: 90%;
  margin: 0 auto;
}
.animate-scrolling-banner:hover {
  animation-play-state: paused;
}

