@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@tomtom-international/web-sdk-maps";
.container {
  width: 90%;
  margin: 0 auto;
}
.animate-scrolling-banner:hover {
  animation-play-state: paused;
}
